.icon4,
.projecst-1-1-icon1 {
  position: absolute;
  top: 964px;
  left: -2px;
  width: 1446px;
  height: 3456px;
  object-fit: cover;
}
.projecst-1-1-icon1 {
  top: 0;
  left: -139px;
  width: 1713px;
  height: 964px;
}
.design-child {
  position: absolute;
  top: 4032.5px;
  left: 232.5px;
  border-top: 3px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 934px;
  height: 3px;
}
.design-item {
  position: absolute;
  top: 222px;
  left: -33px;
  background-color: rgba(96, 91, 91, 0.54);
  width: 778px;
  height: 329px;
  mix-blend-mode: luminosity;
}
.supplying1 {
  top: 0;
  left: 0;
  font-weight: 300;
}
.interior3,
.living-room-bedroom1,
.supplying1 {
  position: absolute;
  mix-blend-mode: normal;
}
.living-room-bedroom1 {
  top: 194px;
  left: 6px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.2em;
  font-weight: 300;
}
.interior3 {
  top: 65px;
  left: 0;
  font-size: var(--font-size-91xl);
  font-weight: 500;
  text-shadow: 7px -1px 4px rgba(0, 0, 0, 0.25);
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-darkslategray-200);
  box-shadow: 0 4px 3.1px -6px rgba(0, 0, 0, 0.25);
  width: 209px;
  height: 59px;
  opacity: 0.5;
  mix-blend-mode: color-burn;
}
.collection2 {
  position: absolute;
  top: 15px;
  left: 18px;
  font-weight: 300;
  mix-blend-mode: normal;
}
.group-child6 {
  position: absolute;
  top: 20px;
  left: 147px;
  width: 39.7px;
  height: 19.2px;
  object-fit: cover;
}
.group-div {
  position: absolute;
  top: 238px;
  left: 6px;
  width: 209px;
  height: 59px;
  font-size: var(--font-size-5xl);
}
.supplying-parent {
  position: absolute;
  top: 242px;
  left: 88px;
  width: 630px;
  height: 297px;
  font-size: var(--font-size-41xl);
}
.design-inner {
  position: absolute;
  top: 253px;
  left: 60px;
  background-color: var(--color-sienna-100);
  width: 17px;
  height: 286px;
}
.design-services,
.text {
  position: absolute;
  mix-blend-mode: normal;
}
.text {
  top: 1046px;
  left: 199px;
  font-size: var(--font-size-71xl);
  font-weight: 500;
}
.design-services {
  top: 1009px;
  left: calc(50% - 269px);
  font-size: var(--font-size-41xl);
  color: var(--color-gray-100);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.34);
}
.design-child1 {
  position: absolute;
  top: 1395px;
  left: -63px;
  background-color: var(--color-darkslategray-100);
  width: 1498px;
  height: 544px;
  opacity: 0.6;
}
.design-child2,
.design-child3 {
  position: absolute;
  top: 2370px;
  left: -58px;
  background-color: var(--color-sienna-300);
  width: 1498px;
  height: 570px;
}
.design-child3 {
  top: 2056px;
  left: 110px;
  background-color: var(--color-dimgray-100);
  width: 1325px;
  height: 331px;
  mix-blend-mode: multiply;
}
.beautiful-office-interior,
.vietnam-is-a {
  position: absolute;
  top: 2088px;
  left: 203px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  mix-blend-mode: normal;
}
.vietnam-is-a {
  top: 2179px;
  font-size: var(--font-size-3xl);
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 1238px;
}
.image-22-icon,
.image-23-icon {
  position: absolute;
  top: 2387px;
  left: 138px;
  width: 796px;
  height: 468px;
  object-fit: cover;
}
.image-23-icon {
  top: 2393px;
  left: 989px;
  width: 349px;
  height: 523px;
}
.design-child4 {
  position: absolute;
  top: 2082px;
  left: 72px;
  border: 2px solid var(--color-mistyrose-100);
  box-sizing: border-box;
  width: 1567px;
  height: 740px;
}
.group-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-darkslategray-200);
  width: 209px;
  height: 59px;
  opacity: 0.5;
  mix-blend-mode: color-burn;
}
.quote {
  position: absolute;
  top: 15px;
  left: 63px;
  font-weight: 300;
  mix-blend-mode: normal;
}
.rectangle-parent1 {
  position: absolute;
  top: 2300px;
  left: 203px;
  width: 209px;
  height: 59px;
}
.design-child5,
.design-child6 {
  position: absolute;
  top: 2153px;
  left: 203px;
  background-color: var(--color-sienna-100);
  width: 333px;
  height: 3px;
}
.design-child6 {
  top: 1118px;
  left: 30px;
  background-color: var(--color-sienna-300);
  width: 1278px;
  height: 324px;
}
.in-todays-era,
.quote-for-interior {
  position: absolute;
  top: 1172px;
  left: 57px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  color: var(--color-gray-100);
  mix-blend-mode: normal;
}
.in-todays-era {
  top: 1263px;
  left: 61px;
  font-size: var(--font-size-3xl);
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 1238px;
}
.design-child7 {
  position: absolute;
  top: 1237px;
  left: 66px;
  background-color: var(--color-gray-100);
  width: 333px;
  height: 3px;
}
.image-21-icon {
  position: absolute;
  top: 1415px;
  left: 888px;
  width: 528px;
  height: 472px;
  object-fit: cover;
}
.design-child8 {
  position: absolute;
  top: 1166px;
  left: 11px;
  border: 2px solid var(--color-mistyrose-100);
  box-sizing: border-box;
  width: 1486px;
  height: 740px;
}
.group-child9,
.rectangle-parent2 {
  position: absolute;
  top: 1828px;
  left: 72px;
  width: 209px;
  height: 59px;
}
.group-child9 {
  top: 312px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1498px;
  height: 544px;
  opacity: 0.6;
}
.group-child10 {
  position: absolute;
  top: 0;
  left: 88px;
  background-color: var(--color-sienna-300);
  width: 1278px;
  height: 324px;
}
.if-delicious-food,
.the-company-designs {
  position: absolute;
  top: 54px;
  left: 119px;
  font-weight: 500;
  mix-blend-mode: normal;
}
.if-delicious-food {
  top: 145px;
  font-size: var(--font-size-3xl);
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 1238px;
}
.group-child11 {
  position: absolute;
  top: 119px;
  left: 124px;
  background-color: var(--color-gray-100);
  width: 333px;
  height: 3px;
}
.image-24-icon,
.image-25-icon {
  position: absolute;
  top: 287px;
  left: 108px;
  width: 817px;
  height: 408px;
  object-fit: cover;
}
.image-25-icon {
  top: 297px;
  left: 946px;
  width: 528px;
  height: 472px;
}
.group-child12 {
  position: absolute;
  top: 48px;
  left: 69px;
  border: 2px solid var(--color-mistyrose-100);
  box-sizing: border-box;
  width: 1486px;
  height: 740px;
}
.rectangle-parent4 {
  position: absolute;
  top: 710px;
  left: 130px;
  width: 209px;
  height: 59px;
  font-size: var(--font-size-5xl);
  color: var(--color-seashell);
}
.rectangle-parent3 {
  position: absolute;
  top: 3084px;
  left: -5px;
  width: 1555px;
  height: 856px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
}
.image-20-icon {
  position: absolute;
  top: 1405px;
  left: 50px;
  width: 817px;
  height: 408px;
  object-fit: cover;
}
.design-child9 {
  position: absolute;
  top: 4193px;
  left: -12px;
  background-color: var(--color-sienna-200);
  width: 1467px;
  height: 418px;
}
.pngtreeinterior-logo-design-t5 {
  position: absolute;
  top: 4256px;
  left: -10px;
  width: 256px;
  height: 256px;
  object-fit: cover;
  mix-blend-mode: color-burn;
}
.design-child10,
.design-child11 {
  position: absolute;
  top: 4262.5px;
  left: 239.5px;
  border-right: 3px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 3px;
  height: 265px;
}
.design-child11 {
  top: 4254.5px;
  left: 871.5px;
}
.google-overlays-01-11 {
  position: absolute;
  top: 4244px;
  left: 967px;
  width: 349px;
  height: 279px;
  object-fit: cover;
}
.design-child12 {
  position: absolute;
  top: 4550px;
  left: -4px;
  background-color: var(--color-gray-100);
  width: 1452px;
  height: 40px;
}
.address-20-hoang-minh-giam-p-container {
  position: absolute;
  top: 0;
  left: 43px;
  width: 533px;
  height: 29px;
}
.icon-home-simple-door1 {
  position: absolute;
  height: 76.28%;
  width: 5.38%;
  top: 23.72%;
  right: 94.62%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent1,
.phone-0909825402-container {
  position: absolute;
  top: 4301px;
  left: 273px;
  width: 576px;
  height: 39.2px;
  color: var(--color-gray-100);
}
.phone-0909825402-container {
  top: 4354px;
  left: 316px;
  width: 231px;
  height: 29px;
}
.icon-phone1 {
  position: absolute;
  height: 0.54%;
  width: 1.74%;
  top: 95.15%;
  right: 79.31%;
  bottom: 4.31%;
  left: 18.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-mail1,
.mail-0909825402-container {
  position: absolute;
  top: 0;
  left: 43px;
  width: 206px;
  height: 29px;
}
.icon-mail1 {
  height: 63.93%;
  width: 11.73%;
  top: 36.07%;
  right: 88.27%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent2 {
  position: absolute;
  top: 4407px;
  left: 273px;
  width: 249px;
  height: 37.7px;
  color: var(--color-gray-100);
}
.time-mon-1 {
  position: absolute;
  top: 0;
  left: 41px;
  font-weight: 300;
  mix-blend-mode: normal;
}
.icon-alarm1 {
  position: absolute;
  height: 72.84%;
  width: 7.94%;
  top: 27.16%;
  right: 92.06%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.time-mon-sun-7h-17h-group {
  position: absolute;
  top: 4460px;
  left: 275px;
  width: 325px;
  height: 39.4px;
  color: var(--color-gray-100);
}
.design-child13 {
  position: absolute;
  top: 0;
  left: -2px;
  background: linear-gradient(
    180deg,
    rgba(22, 22, 21, 0.75),
    rgba(22, 22, 21, 0.47) 84.38%
  );
  width: 1458px;
  height: 124px;
  mix-blend-mode: luminosity;
}
.product1 {
  position: absolute;
  top: 50px;
  left: 272px;
  font-weight: 300;
  mix-blend-mode: normal;
}
.design-child14,
.design-child15,
.design-child16 {
  position: absolute;
  top: 40px;
  left: 220px;
  border-right: 2px solid var(--color-seashell);
  box-sizing: border-box;
  width: 2px;
  height: 44px;
}
.design-child15,
.design-child16 {
  left: 433px;
}
.design-child16 {
  left: 642px;
}
.design-child17,
.design-child18 {
  position: absolute;
  top: -13px;
  left: 1280px;
  background-color: var(--color-silver);
  width: 137px;
  height: 172px;
}
.design-child18 {
  top: 0;
  background-color: var(--color-gainsboro-100);
  height: 159px;
  mix-blend-mode: multiply;
}
.pngtreeinterior-logo-design-t6 {
  position: absolute;
  top: -30px;
  left: 1248px;
  width: 202px;
  height: 202px;
  object-fit: cover;
  mix-blend-mode: color-burn;
}
.about1,
.design-child19,
.design3,
.home2 {
  position: absolute;
  mix-blend-mode: normal;
  cursor: pointer;
}
.design-child19 {
  top: 33px;
  left: 474px;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
  width: 129px;
  height: 59px;
  opacity: 0.5;
}
.about1,
.design3,
.home2 {
  top: 48px;
  left: 102px;
  font-weight: 300;
}
.about1,
.design3 {
  top: 50px;
  left: 694px;
}
.design3 {
  left: 494px;
}
.design-child20 {
  position: absolute;
  top: 4015px;
  left: 1270px;
  width: 153px;
  height: 153px;
}
.design2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 4587px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-seashell);
  font-family: var(--font-inter);
}
